<a href="https://colab.research.google.com/github/mssuhas/Python-Workshop/blob/master/Python_day2_session2_exerxise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Add rollno and marks {name:mark} for n number of students through keyboard in a diction ary and print the marks in descending order with respective name. 
import operator
d={input(f"Enter the name {i}: "):int(input(f"enter the marks {i}: ")) for i in range(1,int(input(f"enter the no of students "))+1)}
print(dict(sorted(d.items(), key = lambda kv:(kv[1], kv[0]))))

enter the no of students 3
enter the marks 1: 60
Enter the name 1: sai
enter the marks 2: 55
Enter the name 2: hari
enter the marks 3: 80
Enter the name 3: dilip
{'hari': 55, 'sai': 60, 'dilip': 80}

In [ ]:
#Add name and salary {name:salary} for n number of employees through keyboard in a dic tionary and print them in name alphabetical order with salary 
d={input(f"Enter the name {i}: "):int(input(f"enter the salary {i}: ")) for i in range(1,int(input(f"enter the no of employees "))+1)}
print(sorted(d.items(), key = lambda kv:(kv[0], kv[1])))

enter the no of employees 3
enter the salary 1: 15000
Enter the name 1: sai
enter the salary 2: 20000
Enter the name 2: dilip
enter the salary 3: 12000
Enter the name 3: tilak
[('dilip', 20000), ('sai', 15000), ('tilak', 12000)]

In [ ]:
#Add name and salary {name:salary} for n number of employees through keyboard in a dic tionary and print them in salary ascending order and sum, max, min and average of the  salaries
d={input(f"Enter the name {i}: "):int(input(f"enter the salary {i}: ")) for i in range(1,int(input(f"enter the no of employees "))+1)}
print(sorted(d.items(), key = lambda kv:(kv[1], kv[0])))
print(f"sum={sum(d.values())}\nmax = {max(d.values())} \nmin = {min(d.values())} \naverage = {(sum(d.values())/len(d.values()))}")

enter the no of employees 3
enter the salary 1: 15000
Enter the name 1: tilak
enter the salary 2: 20000
Enter the name 2: sai
enter the salary 3: 10000
Enter the name 3: hari
[('hari', 10000), ('tilak', 15000), ('sai', 20000)]
sum=45000
max = 20000
min = 10000
average = 15000.0

In [ ]:
#Add name and salary {name:salary} for n number of employees through keyboard in a dic tionary and print only the employees whose salary is greater than 2000 but less than 4000
l=[]
d={input(f"Enter the name {i}: "):int(input(f"enter the salary {i}: ")) for i in range(1,int(input(f"enter the no of employees "))+1)}
for i,j in d.items():
  if j>2000 and j<4000:
    l.append((i,j))
print(dict(l))

enter the no of employees 3
enter the salary 1: 2500
Enter the name 1: sai
enter the salary 2: 1500
Enter the name 2: hari
enter the salary 3: 3000
Enter the name 3: tilak
{'sai': 2500, 'tilak': 3000}

In [ ]:
#Python program to convert a 3 digit number into words 
d={0:'',1:'one',2:'two',3:'three',4:'four',5:'five',6:'six',7:'seven',8:'eight',9:'nine',  10:'ten',11:'eleven',12:'twelve',13:'thirteen',14:'fourteen',15:'fifteen',16:'sixteen',  17:'seventeen',18:'eightteen',19:'nineteen',20:'twenty',30:'thirty',40:'fourty',50:'fifty', 60:'sixty',70:'seventy',80:'eighty',90:'ninty',100:'One Hundred',200:'Two Hundred',300:'Three Hundred',400:'Four Hundred',500:'Five Hundred',600:'Six Hundred',700:'Seven Hundred',800:'Eight hundred',900:'Nine Hundred'} 
n=int(input("Enter the integer between 1 to 999:")) 
if (n<=20): 
 print(d[n]) 
elif (n<100):
    print(d[n//10*10]+" "+d.get((n%10), ''))
else:
  if (n-(n//100)*100<=20):
    print(f'{d[(n//100)*100]} {d[n-(n//100)*100]}')
  else:
    print(f'{d[(n//100)*100]} {d[((n//10)%10)*10]} {d[n%10]}')

Enter the integer between 1 to 999:588
Five Hundred eighty eight

**FILES**

In [ ]:
#Python Program to count the total number of charaters (except blank space) in a text file.
fname = input("Enter file name: ")
k = 0
 
with open(fname, 'r') as f:
    for line in f:
        words = line.split()
        for i in words:
            for letter in i:
                if(letter.isspace):
                    k=k+1
print("Occurrences without blank spaces:")
print(k)

Enter file name: abc
Occurrences without blank spaces:
10

In [23]:
#Python Program to print all the numbers present in a text file with its total number of occurrence. 
f=open('/content/abc','r')
li=[]
a=[]
for l in f:
  li=l.split()
  for w in li:
    try:
      x=int(w)
      a.append(x)
    except:
      continue
for i in a:
  print(i,end=' ')
print(f'\nSum = {sum(a)}')

11 20 21
Sum = 52

In [ ]:
    #Python Program to count the number of blank spaces in a text file.  
    input_file = input("Enter File name : ") 
    file_txt = open(input_file)		
    text = file_txt.read()     
    space = 0		     
    for i in text:					 
    	if(i == " "): 
    		space += 1     
    print (" Spaces = {}".format(space))

Enter File name : abc
 Spaces = 1

In [ ]:
#Python Program to append the contents of one file to another file by getting the both file names  through keyboard .
name1 = input("Enter file to be read from: ")
name2 = input("Enter file to be appended to: ")
fin = open(name1, "r")
data2 = fin.read()
fin.close()
fout = open(name2, "a")
fout.write(data2)
fout.close()

Enter file to be read from: abc
Enter file to be appended to: abd

In [9]:
#Python Program to read a file and capitalize the first letter of every word in the file and copy the  every word capitalized content into another file and read it 
f=open('/content/abc','r')
a=open('t.txt','w')
for l in f:
  a.write(l.title())
a.close()
s=open('t.txt','r')
for b in s:
  print(b)

Hello World

Hello

Hi